<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heroku App Films
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card color="primary" *ngFor="let film of films">
    <ion-card color="warning">

     
      <ion-card-header color="">
        <ion-card-title>{{ film.title }}</ion-card-title>
        <img alt=" " src="{{ film.image }}" />
        <ion-card-subtitle>{{ 'Rating: ' + film.rt_score + '%'}} </ion-card-subtitle>
        <ion-card-subtitle>{{ 'Producer: ' + film.producer}} </ion-card-subtitle>
        <ion-card-subtitle>{{ 'Release Date: ' + film.release_date}} </ion-card-subtitle>
        <ion-card-subtitle>{{ 'Duration: ' + film.running_time + ' mins.'}} </ion-card-subtitle>
      </ion-card-header>
    
    
     
    </ion-card>
    <ion-card-content>
      {{ film.description }}
    
    </ion-card-content>
  </ion-card>
  </div>
  
</ion-content>
